
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 60rem;
  padding: 2rem;
  overflow-y:hidden;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: visible;
    overflow-x: hidden;
    
}

#dropdownStuff {
  transform: translate(-20px,+0px,0);

}

#loadingBar {
  transform: translate(+10px,+20px);

}
#appScanned {
  z-index: -1;
}

#twoScanningButtons {
  transform: translateY(+5px);
}

#appName {
  transform: translate(+20px, -20px);
  
}

#Apps {
  transform: translateY(-0px);
}

#altAppsButton {
  transform: translateY(-35px);
}