
body::after {
  content: ""; 
  background: url('../public/Logo.jpeg');
  opacity: 0.3; /* Adjust to your preference, 0 is fully transparent, 1 is fully opaque */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  background-position: center top 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: justify;
}

#resultParagraph {
  text-align: justify;
}
#left {
  float: left;
  width: 30%;
}

#right2 {
  float: right;
  width: 70%;
  
}

#browseFoldersButton {
  transform: scaleX(0.7);
  float: left;
}
