body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
  overflow: auto;
}

#resultParagraph {
  text-align: justify;
}

#resultOverflow {
  max-height: 300px;
  min-height: 300px;
  border: 1px solid #606065;
}

#appScannedOverflow {
  max-height: 200px;
}


abbr {
  position: relative;
}


abbr:hover::after { 
  position: absolute;
  
  z-index: 100;
  font-size: small;
  
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  padding: 1em;
  background: rgb(5, 2, 43);
  content: attr(content);
}




